#ui-datepicker-div{width: 270px;}
.ui-widget-content, .ui-widget-content, .ui-datepicker .ui-datepicker-header, .ui-datepicker .ui-datepicker-title, .ui-datepicker .ui-datepicker-title, .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .ui-datepicker table, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-state-default {background: #fff;}
.ui-datepicker-inline {padding: 0;}
.ui-widget-header, .ui-datepicker-title select {border: none;}
.ui-datepicker .ui-datepicker-header {position:relative;text-align:center;padding-bottom:10px;border: 1px solid #e9e9e9;border-bottom: 0;padding:15px;padding-bottom: 0;border-radius: 3px 3px 0;}
.ui-datepicker table{border:1px solid #e9e9e9; border-top:0;display: block;padding:15px;border-radius:0 3px 3px;min-width:100%;}
.ui-datepicker table tbody tr:hover td, .ui-datepicker table tbody tr:hover th{background:transparent;}
.ui-datepicker .ui-datepicker-prev{position:absolute;left:0;top:-7px;}
.ui-datepicker .ui-datepicker-next{position:absolute;right:0;top:-7px;}
.ui-icon, .ui-datepicker-month, .ui-datepicker-year {color: #717171;font-size:14px;}
.ui-priority-secondary.ui-corner-all{width:100%;height:40px;margin-top: 5px;color: #fff;background: #e51737;}
span.ui-state-default{color:#ccc;font-size:12px;}
a.ui-state-default, .ui-datepicker th {background:transparent; color:#595d6e;border: none !important;text-align: center !important;width:35px;height:35px;border-radius:100%;font-weight:400;font-size:12px;vertical-align: middle;}
.ui-state-default, .ui-state-disabled{display:table-cell;vertical-align:middle;text-align: center;width: 35px;height: 35px;}
.ui-datepicker th{color:#bdbdbd;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background:#a50134;color: #fff !important;border-radius:100%;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {background:#ffdbdb;}
.ui-datepicker-week-end a{color:#e11738;}
.ui-datepicker-calendar tr td:first-child + td + td + td + td + td a{color:#595d6e;}
.ui-icon{position:absolute;top:20px;width:12px;height:20px;text-indent:-99999px;}
.ui-icon-circle-triangle-w{left:20px;background:url('https://lostinyou4.github.io/leesm/study/images/date_arrow_left.png') 0 0 no-repeat;background-size:contain;}
.ui-icon-circle-triangle-e{right:20px;background:url('https://lostinyou4.github.io/leesm/study/images/date_arrow_right.png') 0 0 no-repeat;background-size:contain;}
.ui-datepicker-year:after{content:'년';}
.ui-datepicker-trigger{position: absolute;right: 5%;top: 0;bottom: 0;margin: auto;}