/* 컨텐츠 공통 헤드 */
.content{margin-left:220px;width: calc(100vw - 220px);overflow-x: auto;}
.com_head .breadcrumb {padding:0 24px;height:53px; width: 100%; line-height: 53px; background:#f9f9f9; border-bottom:1px solid var(--line-color);padding:0 24px}
.content .tab_btn{padding:0 40px;display: flex;}
.content .tab_btn li{width: 140px;border-radius: 10px 10px 0 0;text-align: center;display: inline-block;border:1px solid #e9e9e9;border-bottom:0;overflow: hidden;}
.content .tab_btn li:hover{background:#f9f9f9;}
.content .tab_btn li a{display: inline-block;padding:10px 0;width: 100%;color:#717171;}
.content .tab_btn li.on{background:var(--gray2-color);border:0;}
.content .tab_btn li.on a{color:#fff;}



/* 컨텐츠 공통 */
.cont {min-height: calc(100vh - 235px);margin: 0 24px;padding:30px 50px;border-radius: 10px;;box-shadow:0px 3px 15px rgba(0,0,0,.15);}
.cont .box-header, .cont .box-content {position: relative;margin-bottom: 30px;}
.cont h2:first-child:before {content:''; width: 30px;height: 6px;background:var(--main-color);position: absolute;left: -50px;top:15px;}

.form{display: flex;flex-flow: column wrap;}
form.breadcrumb_form{width: 100%;justify-content: flex-end;}
.breadcrumb_form{display: flex;align-items: center;}
.breadcrumb_form:nth-child(2){margin-right: 55px;}
.breadcrumb_form button, .breadcrumb_form .button{width: 50px;}
.breadcrumb_form input[type="text"]{width: auto;}
.rv_date{position: relative;}
.rv_date span{margin:0 3px;color:#717171}
.rv_date span:first-child{margin-left:0;}
.rv_date .hasDatepicker{width: 150px;margin-right: 3px;}
.filter_list-shortcut{display: flex; align-items: center;border:1px solid #ddd; background:#f9f9f9; height: 35px; padding:3px 5px;border-radius: 5px;}
.filter_shortcut button{font-size:12px; padding:3px 5px;}
.filter_shortcut button:focus, .filter_shortcut button:active{background:var(--gray2-color)}
.like_ico {display: inline-block;vertical-align:middle; transition: .2s ease; width:25px; height:25px; background:url("../img/icon/like_ico.png") no-repeat;cursor: pointer;}
.like_ico.on { background:url("../img/icon/like_on_ico.png") no-repeat} 
.import{position: relative;}
.import:after{content: "*";position: absolute;top: 0;bottom: 2px;right: -10px;margin: auto;color:#EC0000;}
.st_cir{color:#fff;background:#ccc;width: 100px;height: 25px;line-height: 25px;padding: 0!important;}
.st_cir.ing{background:#d23737;}
.st_cir.wait{background:#6a7fa0;}
.st_cir.end{background:var(--gray2-color);}
.st_cir.recheck{background:#ffa11b;}
.pj_nm{overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis}


/* 2. login */
.login_cont .tit {color:var(--main-color); font-size: 3.25rem; text-align: center;}
  /* 로그인 - 찾기 페이지 */
.lgn_box {width: 700px;margin: 0 auto;}
.lgn_box .lgn_div {padding: 1.25rem 0.625rem;border:1px solid var(--line-color); display: inline-block; width:100%;}
.lgn_box .lgn_div span {display: inline-block; border-right: 1px solid #ddd; padding-right: 10px; min-width: 15%; vertical-align: middle;}
.lgn_box .lgn_div input[type="text"], .lgn_box .lgn_div input[type="password"], .lgn_box .lgn_div input[type="email"]{width: 80%;border:none;}
.lgn_box .btn {min-width: 100%; height: 50px;}
.lgn_box .search_btn a { display: inline-block; vertical-align: middle; text-align: center; position: relative; }
.lgn_box .search_btn a::before { display: inline-block;content: ''; width: 1px; height: 10px; margin: 0 5px; vertical-align: middle; background:var(--line-color)}
.lgn_box .search_btn a:first-child::before { display: none;}


/* 3-1-2 */
#adm_member_project table{width: 100%;}
#adm_member_project .info{display: flex; border:1px solid var(--line-color);border-radius: 5px;}
#adm_member_project .info li{width: 33.3%;border-right: 1px solid var(--line-color);text-align: center;}
#adm_member_project .info li:last-child{border-right: 0;}
#adm_member_project .info li span{position: relative;display: inline-block;padding:10px;}
#adm_member_project .info li span:first-child{width: 49%;font-weight: bold;}
#adm_member_project .info li span:first-child:after{content:''; position: absolute;top: 0;bottom: 0;right: 0;margin: auto;width: 1px;height: 25px;background:var(--line-color); opacity: 0.8;}
#adm_member_project .info li span:last-child{width: 49%;border-right: 0;}

/* 3-1-3 */
#joinAgree label span{font-size:12px; color:#717171;margin-left: 5px;}
#joinAgree label span.ess {color:#EC0000;}
#joinAgree form > div {margin-bottom:20px;}
#joinAgree .detail{float:right;cursor: pointer;font-size: 13px;color:#717171;margin-top: 5px;}
#joinAgree .detail img{vertical-align: inherit;margin-left: 5px;}
#joinAgree .agreeAll {margin-bottom:10px; border-bottom: 1px solid #ddd; padding-bottom: 10px;}
#joinAgree .agreeAll span {color:#333;font-size:16px; font-weight:bold; position: absolute;top: 13px;left: 33px;}
#joinAgree .agree_check{padding:5px;}


.tab_menu{position:relative;border-radius: 10px;overflow: hidden;border:1px solid var(--line-color);}
.tab_menu .list{overflow:hidden;display: flex;text-align: center;border-top:1px solid var(--line-color);background:var(--gray-color);}
.tab_menu .list li{flex:1;border-right:1px solid var(--line-color);}
.tab_menu .list li:last-child{border-right:0;}
.tab_menu .list li .statis_btn{display: inline-block;padding: 15px 0;width: 100%;color:#282828;}
.tab_menu .list li.is_on .statis_btn{background:#fff;}
.tab_menu .cont_area .statis_cont{display:none; padding:60px 30px;}


/* 테이블 유형 */
.form_table{width: 700px; word-break: keep-all;margin: 0 auto;border-spacing: 0px;}
.form_table table{width: 100%;border-top:1px solid #ddd; border-bottom:1px solid #ddd;margin: 0 auto;border-spacing: 0px;}
.form_table tr:first-child td{border-top:1px solid var(--line-color)}
.form_table td{position: relative;padding:14px;vertical-align: middle;box-sizing: border-box;border-bottom:1px solid var(--line-color)}
.form_table td.bg{position: relative;background:#f9f9f9;width: 160px;font-weight: bold;}
.form_table td input[type="text"]{width: 100%;}
.form_table td p{font-size:12px;}
.form_table .seller{position: relative;}
.form_table .seller_num{display: inline-block;width: 75%!important;}
.form_table .seller_btn{display: inline-block;width: 23%!important;}
.form_table button{position: absolute;top: 0; width: 23%;}

.form_table2{width: 100%;}
.form_table2 select{width: 200px}

.board_area {position: relative;}
.board_area ul{display: flex; align-items: center;}
.board_area ul.board{justify-content: space-between;}
.board_area .board_select{position: absolute;top: -45px;}
.board_list_wrap{border-top:2px solid var(--line-color); border-bottom:2px solid var(--line-color)}
.board{border-bottom:1px solid var(--line-color);padding:30px 10px;}
.board_list {margin: 0 15px;}
.board_list thead {display: none;}
.board_list, .board_list tbody, .board_list tr, .board_list td {display: block;}
.board_list tbody tr {position:relative; z-index:1; overflow:hidden;}
.board_list tbody td {width: 100%; height: auto;border:none; padding:4px 0; font-size: 14px; color:#777; text-align:left;}
.board_list tbody td.tit a {display: inline-block; padding: 0;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color:#333;}
.write li{display: inline-block; margin-right: 15px;}
.write li:after{content:"|"; position: absolute;height: 50%;right: -10px;font-size:12px}
.write li:last-child::after{content: none;}
.preview_img{width: 100%;background:#ddd;aspect-ratio: 16 / 9;}

.tg thead th:last-child{text-align: left;border-bottom: 1px solid var(--line-color);background: transparent;color: #333;}
.tg td{border-left:1px solid var(--line-color);border-right:0;}
.tg td:last-child{border-right:1px solid var(--line-color)}
.tg td, .tg tr{height: 40px;}
.tg tbody tr:hover td{background: unset; cursor:auto;}


/* 7. 체크리스트 */
.cont_box{position: relative;border-top:1px solid var(--line-color)}
.cont_box:first-child{border-top:0}
.cont_box .write_wrap{display: flex;align-items: center;}
.cont_box .write_wrap .user_img{width: 40px;height: 40px;background:url('../img/user_img.png') no-repeat center/cover}
.mybutton{display: flex;justify-content: flex-end;align-items: flex-end;position: absolute;top: -20px;right: 0;}
.mybutton button{width: 130px;}
.mybutton button:hover{background: var(--gray-color);}
.content-tag{border-top: 1px dotted var(--line-color);}
.content-tag .list-wrap{padding-bottom: 20px;}
.content-tag .list{width: 50px;float: right;text-align: center;}
.content-tag .list .btn.toggle{opacity: .3;}
.check-work .group01 .tit{display: inline-flex;}
.check-work .toggle_btn{display:inline-block;transform: rotate(-90deg);border-left: 0;width: 0px;height: 0px;border-right: 9px solid var(--main-color);border-top: 7px solid transparent;border-bottom: 7px solid transparent;}
.check-work .toggle_btn.toggle{transform: rotate(180deg);}

.list-wrap .list .tit{position: relative;width: 100%;font-weight: bold;}
.list-wrap .view{padding:20px 0 20px 20px;}
.list-wrap .toggle .tit:after{transform: rotate(90deg);}
.list-wrap .toggle .btn{background:var(--gray2-color); border:0; opacity: .5;}

.tag_wrap{margin-bottom: 20px;}
.tag_wrap .add_btn{width: 16px;height: 16px;border-radius: 50px; background:var(--main-color);color:#fff;cursor: pointer;}

#adj .check-work .group01 .tit{border:1px solid #ddd; border-radius:5px;}


  /* 체크리스트 */
.check-work .group01 .list{position: relative;background:#e5f1f1;  border-bottom: 1px solid var(--line-color);}
.check-work .group02 .list{background:#f0f5f5}
.check-work .group01 .tit{width: 91%;}
.check-work .group01 .tit:after{left: -20px;right: auto;}

.check-view{padding-left: 55px!important;}
.check_step{position: relative;width: 92%;margin-bottom: 10px;padding: 20px;border: 1px solid #ddd;border-radius: 5px;}

.check_step .check_question{margin-bottom: 20px;}
.check_step .answer {display: inline-block;margin-right: 5px;}
.check_step .answer_input {display: none;}
.check_step .answer_label {width: 100px;border: 1px solid #ddd;display: inline-block;border-radius: 50px;line-height: 40px;text-align:center;color:#ddd;cursor: pointer;}
.check_step .answer_input:checked + .answer_label{border:0;background:var(--main-color);color:#fff;}


  /* 뉴스기사 */
.news{display: flex;justify-content: space-between; padding:30px;}
.news .txt_box{display: flex;flex-flow: column; justify-content: center;width: 55%;background: #fff;box-sizing: border-box;position: relative;}
.news .txt_box .tit{font-size: 20px;word-break: keep-all;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: bold;}
.news .txt_box .txt{height: 55%;overflow: hidden;text-overflow: ellipsis;}
.news .txt_box .more_btn a{display: inline-block; border-radius: 50px;text-align: center;border: 1px solid #ddd;padding: 0 15px;box-sizing: border-box;transition: all .3s ease-in-out;line-height: 40px;}
.news .txt_box .more_btn a:hover {background-color: var(--main-color);border: 1px solid var(--main-color);color: #fff;}
.news_img {width: 40%;border-radius: 10px;aspect-ratio: 16 / 9;background:#ccc;}

  /* 수정 버튼 */
#adj-btn{z-index: 100;position: absolute;left:101%;top: 0;display: flex;align-items: center;padding: 0;bottom: 0;margin: auto;}
#adj-btn div{cursor: pointer;}
#adj-btn .plus-button, #adj-btn .arrow-button {height: 30px;width: 30px;border-radius: 5px;background: var(--gray2-color);transform: scale(0.92);}
#adj-btn .plus-button::before {content: "+";position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: #fff;font-size: 28px;font-weight: 600;}
#adj-btn .arrow-button{background:var(--main-color)}
#adj-btn .arrow-button::before {content: "↓";font-size: 18px;}
#adj-btn .minus-button::before {content: "-";font-size: 28px;}

#adm_risk_adj #adj-btn{position: relative;left:auto;}

.dotted-menu{width: 30px;height: 30px;display: flex;flex-direction: column;align-items: center;justify-content: center;cursor: pointer;}
.dotted-menu .line {background: var(--gray2-color);height: 4px;width: 4px;margin-top: 3px;border-radius:50%;display:block}
#menu-toggle, #menu-toggle2 {display: none;}
#menu {display: none;border-radius:5px; box-shadow: 0px 3px 7px rgba(0,0,0,.1); padding:20px;right: 0;background:#fff;}
#menu li{width: 280px;margin-bottom: 10px;}
#menu li:last-child{margin-bottom: 0;}
#menu li:hover{background:var(--line-color);}
#menu span{display: inline-block;position: relative;width: 90px;text-align: center;}
#menu span:after{content:''; position: absolute;width: 1px;height: 100%;background:var(--gray-color);right: 0;}
#menu span:last-child:after{content:none;}
#menu-toggle:checked + #menu, #menu-toggle2:checked + #menu {z-index:999;position: absolute;display: block;}
  
.public_toggle {position: relative;width: 110px;height: 30px;border: 1px solid #e9e9e9;border-radius: 40px;font-size:12px}
.public_toggle input {opacity: 0;cursor: pointer;position: absolute;top: 0;left: 0;z-index: 6;width: 116px;height: 30px;}
.public_toggle input:checked ~ .toggle_btn {left: 55px;}
.public_toggle input:checked ~ .bg {background: var(--main-color);}
.public_toggle .toggle_btn {display: block;position: absolute;z-index: 4;top: 0px;left: -1px;width: 55px;height: 30px;
background: var(--gray2-color);border: 1px solid #e8e8e8;border-radius: 50px;transition: left 0.25s ease;}
.public_toggle .labels {position: absolute;top: 6px;z-index: 2;width: 100%;color: #fff;text-transform: uppercase;}
.public_toggle .labels:before {content: "문서공개";position: absolute;left:10px;}
.public_toggle .labels:after {content: "공개안함";position: absolute;right:10px;}
.public_toggle .bg {display: block;position: absolute;z-index: 0;top: 0;left: 0;width: 100%;height: 100%;border-radius: 40px;background: linear-gradient(#848484, #a2a2a2)}


/* adm_pay_detail */
.filter_bottom{display: flex;}
.filter_bottom ul li{display: inline-block;}
#adm_pay_detail #menu li{width: auto;}
#adm_pay_detail #menu span:after{content:none;}



/* 태그 추가, 제거 */
#tag-list{display: flex; margin-top: 5px;}
ul li.tag-item {width:fit-content; padding: 4px 8px;background-color: var(--gray2-color);border-radius: 5px;margin-right: 5px;opacity:0.85; cursor: pointer;}
.tag-item:hover {opacity: 1;}
.del-btn {font-size: 12px;font-weight: bold;cursor: pointer;margin-left: 8px;}


/* 이미지 첨부 */
.file-label {display: flex; align-items: center;justify-content: center; flex-direction: column; width: 70px; height: 70px;cursor: pointer;float:left;background:#717171;border-radius: 5px;}
.file-info {width: 80%; margin-top: 10px;color:#717171; vertical-align: middle;}
.file {display: none;}
.upload-box {width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.upload-box .drag-file {position: relative;width: 100%; aspect-ratio: 16 / 9;display: flex;flex-direction: column;justify-content: center;align-items: center;border: 1px solid #ddd;}
.upload-box .drag-file.highlight {border: 3px dashed red;}
.upload-box .drag-file .image {width: 40px;}
.upload-box .drag-file .preview {display: none;position: absolute;left: 0;height: 0;width: 100%;height: 100%;}

  /* 다중 첨부 */
.img_upload input[type="file"]{display: none;}
.img_upload .drag-file{width: 0;}
#att_zone{display: flex; justify-content: flex-start;}
#att_zone div{position: relative;display: inline-flex;justify-content: center;align-items: center;width: 33%;aspect-ratio: 16 / 9; border:1px solid #ddd;margin-right: 10px;padding:10px}
#att_zone div:last-child{margin-right: 0;}
#att_zone div img{max-height:100%}
#att_zone div input{width: 20px;height: 20px;position: absolute;font-size: 12px;right: 5px;top: 5px;z-index: 999;border: 1px solid #999;border-radius: 50px;background-color: rgba(255,255,255,0.1);color: #999;cursor:pointer}
#att_zone:empty:before{content : attr(data-placeholder);color : #999;font-size:.9em;}

/* 첨부파일 */
.filebox .upload-name {display: inline-block;padding: 0 10px;border: 1px solid #dddddd;width: 78%;color: #999999;}
.filebox label {display: inline-block;padding: 8px 20px;color: #fff;background-color: #999999;cursor: pointer;height: 35px;margin-left: 5px;border-radius:5px}
.filebox input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;}


/************ LAYER POPUP ***********/
/* 프로젝트 추가 layerpop */
#project .p-count{display: flex; align-items: center;}
#project .count{border-radius: 50%;width: 30px;height: 30px;border:0; cursor: pointer;}

/* 체크리스트 layter_pop */
/* #preview .group02{width: 40vw;} */
#preview .list-wrap .view{padding:10px;}
#preview .check-view{padding-left: 0!important;}
#preview .check_step{margin: 0 auto;}

/* 사고사례 layer_pop */
#ex .search {width: 100%;position: relative;display: flex;}
#ex .searchTerm {width: 100%;height: 50px!important;border: 1px solid var(--line-color);padding: 5px;height: 20px;border-radius: 5px;}
#ex .searchButton {right: 0;position: absolute;width: 40px;height: 50px;border: 0;background: transparent;}
#ex ul{height: 30vh;padding:0 20px;overflow-y: auto;}
#ex li{display: flex;padding: 20px 0;border-bottom: 1px solid #ddd;}
#ex li span{display: inline-block;}
#ex .news_cont{width: 90%;margin-right: 10px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/* 신고사유 layerpop */
#reason .layer_cont{overflow: hidden;}
.reason_cont{height: 50vh;overflow-y: auto; border-top:2px solid var(--line-color);border-bottom:2px solid var(--line-color)}
.reason_cont > ul{padding:20px;border-bottom: 1px solid var(--line-color);}
.reason_cont > ul:last-child{border-bottom: 0;}
.reason_cont > ul ul.write{color:#717171;margin-bottom: 10px;}


@media screen and (max-width: 1920px) {
  .cont {min-width: 1650px;max-width:1650px;min-height: calc(100vh - 240px);}
  .com_head .breadcrumb{min-width: 1700px;max-width:1700px;}
}
