@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

:root{
	--main-color:#02B1CD

	--left-width:220px;
	--wraper-width:calc(100% - 220px);


	--btn-color:#EDEDED;
}


/* btn-style */
.btn{display: inline;border-radius: 5px;box-sizing: border-box;border:1px solid #CFCFCF;}
.btn-main{border:0;background:#02B1CD;color:#fff;}
.btn-gray{border:0;background:#E7E7E7;color:#333;}
.btn-darkgray{border:0;background:#5B5B5B;color:#fff;}

.cbtn{padding:5px 10px;border-radius:50px;background:transparent}
.cbtn-gray{border:1px solid #999; color:#999;}
.cbtn-green{border:1px solid #4BC886; color:#4BC886;}
.cbtn-red{border:1px solid #FA527A; color:#FA527A;}
.cbtn-blue{border:1px solid #125E96; color:#125E96;}



.flex{display:flex !important;}
.inline-flex{display:inline-flex !important;}
.flex.column, .inline-flex.column{flex-direction:column !important;}
.flex-top{align-items:flex-start !important;}
.flex-middle{align-items:center !important;}
.flex-bottom{align-items:flex-end !important;}
.flex-left{justify-content:flex-start !important;}
.flex-center{justify-content:center !important;}
.flex-right{justify-content:flex-end !important;}
.flex-stretch{align-items:stretch !important;}
.flex1{flex:1;}
.flex > .left{margin-right:auto !important;}.flex > .right{margin-left:auto !important;}
.item-top{align-self:start}.item-middle{align-self:center;}.item-bottom{align-self:end}.item-stretch{align-self:stretch}.item-left{margin-right:auto;}.item-right{margin-left:auto;}



::-webkit-scrollbar{width:6px;height:6px;border-radius:2px;}
::-webkit-scrollbar-thumb{cursor:pointer;background:#c5c5c5;border-radius:2px;}
::selection{background-color:#c5c5c5;color:#fff;border-radius:2px;}
-webkit-::selection{background-color:#c5c5c5;color:#fff;border-radius:2px;}
::-moz-selection{background-color:#c5c5c5;color:#fff;border-radius:2px;}